@page
@model WebAppRazorPagesAchivers.Pages.DateTimeModel
@{
}


<h1>Date and Time</h1>
@TempData["currentdate"]


<form method="post">
    <input type="submit" name="submit" value="submit" />
</form>