@page
@model WebAppRazorPagesAchivers.Pages.MultiplyTaskModel
@{
}

<form method="post">
    Enter X: <input type="number" name="x" /> <br />
    Enter Y :<input type="number" name="y" /> <br />
    <input type="submit" name="submit" value="submit" />

    @TempData["res"]
</form>